.newevents {
  width: 100%;
  background-image: url("../img/poster__background2.png"), url("../img/events__background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 74px 0 72px; }
  .newevents-new {
    background-image: none; }
  .newevents__container {
    max-width: 1300px;
    width: 100%;
    padding: 0 40px 95px; }
    @media screen and (max-width: 1289px) {
      .newevents__container {
        max-width: 900px; } }
    @media screen and (max-width: 500px) {
      .newevents__container {
        padding: 0 0 25px; } }
  .newevents__slider {
    margin: 0 0 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media screen and (max-width: 886px) {
      .newevents__slider {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; } }
  .newevents__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33%;
            flex: 0 1 33%;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 100%;
    margin: 0 -20px 40px;
    padding: 20px 40px 20px; }
    @media screen and (max-width: 500px) {
      .newevents__item {
        margin: 0 0 40px;
        padding: 0 0 0; } }
  .newevents__wrapper {
    width: 363px;
    max-width: 100%;
    height: 363px;
    max-width: 100%;
    -webkit-box-shadow: -7px -5px 43px 6px rgba(6, 8, 9, 0.3);
            box-shadow: -7px -5px 43px 6px rgba(6, 8, 9, 0.3);
    -webkit-transition: 1s all;
    transition: 1s all;
    position: relative;
    z-index: 1;
    overflow: hidden;
    padding: 28px; }
    .newevents__wrapper:hover img {
      -webkit-transition: 0.3s all;
      transition: 0.3s all;
      -webkit-transform: translate(-50%, -50%) scale(1.1);
              transform: translate(-50%, -50%) scale(1.1); }
    @media screen and (max-width: 364px) {
      .newevents__wrapper {
        padding: 28px 0; } }
    .newevents__wrapper img {
      position: absolute;
      top: 50%;
      left: 50%;
      height: 100%;
      width: auto;
      -webkit-transform: translate(-50%, -50%) scale(1);
              transform: translate(-50%, -50%) scale(1);
      -webkit-transition: 0.3s all;
      transition: 0.3s all;
      z-index: -1; }
  .newevents__tablo {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); }
    .newevents__tablo > div {
      height: 100%;
      width: 100%;
      text-align: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
  .newevents__header {
    padding: 35px 0;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff; }
  .newevents__name {
    font-size: 36px; }
    @media screen and (max-width: 1450px) {
      .newevents__name {
        font-size: 28px; } }
  .newevents__date {
    line-height: 48px;
    font-size: 36px; }
    @media screen and (max-width: 1450px) {
      .newevents__date {
        line-height: 36px;
        font-size: 27px; } }
  .newevents__description {
    font-size: 30px;
    line-height: 36px; }
    @media screen and (max-width: 1450px) {
      .newevents__description {
        font-size: 20px;
        line-height: 27px; } }
  .newevents__inner {
    text-align: center;
    padding: 0 10px; }
  @media screen and (max-width: 1024px) {
    .newevents__bth {
      font-size: 20px; } }
